<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TalkMVP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAA0ED782E86C2D40025D50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA0ED852E86C2D60025D50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA0ED8F2E86C2D60025D50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
